@model PPDBarcode.Models.FormViewModel

    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.OrderNum)
    <div class="k-form-field">
        @Html.LabelFor(model => model.Name, new { @class = "editor-label" })
        <div class="editor-field">
            @Html.Kendo().TextBoxFor(m => m.Name).HtmlAttributes(new { style = "width:100%;" })
        </div>
    </div>
    <div class="k-form-field">
        @Html.LabelFor(model => model.Description, new { @class = "editor-label" })
        <div class="editor-field">
            @Html.TextAreaFor(m => m.Description, new { @class = "k-textbox", style = "width:100%;" })
        </div>
    </div>

