<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/favicon.ico" sizes="24x24">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/bootstrap")


</head>
<body>
    <header class="main-header">
        <a href="@Url.Action("Index", "Home")" title="На главную страницу">
            <h1 class="logo">
                Печать платежных документов со штрих-кодом
            </h1>
        </a>
        @(Html.Kendo().Menu()
                                              .Name("mainMenu")
                                              .Items(items =>
                                              {
                                                  items.Add().Text("Почта").Action("Index", "Mails");
                                                  items.Add().Text("Настройки").Action("Index", "Settings");
                                                  
                                              })
        )
      
    </header>
    <div>
        @RenderBody()
    </div>
    <span id="notification"></span>

    @RenderSection("scripts", required: false)
</body>

</html>
<script>
    function showSuccess(message) {

        var notification = $("#notification").kendoNotification({
            autoHideAfter: 3000
        }).data("kendoNotification");

        notification.show(message, "success");
    }

    function showError(message) {

        var notification = $("#notification").kendoNotification({
            autoHideAfter: 0
        }).data("kendoNotification");

        notification.show(message, "error");
    }
</script>